{{extend "../layouts/layout.html"}}

{{block "body"}}
<div class="container-fluid">
    <div class="page-title">
      <h1>所有文章</h1>
      <a href="post-add.html" class="btn btn-primary btn-xs">写文章</a>
    </div>
    <!-- 有错误信息时展示 -->
    <!-- <div class="alert alert-danger">
      <strong>错误！</strong>发生XXX错误
    </div> -->
    <div class="page-action">
      <!-- show when multiple checked -->
      <a class="btn btn-danger btn-sm" href="javascript:;" style="display: none">批量删除</a>
      <form class="form-inline">
        <select name="" class="form-control input-sm">
          <option value="">所有分类</option>
          <option value="">未分类</option>
        </select>
        <select name="" class="form-control input-sm">
          <option value="">所有状态</option>
          <option value="">草稿</option>
          <option value="">已发布</option>
        </select>
        <button class="btn btn-default btn-sm">筛选</button>
      </form>
      <ul class="pagination pagination-sm pull-right">
       
      </ul>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center" width="40"><input type="checkbox"></th>
          <th>标题</th>
          <th>作者</th>
          <th>分类</th>
          <th class="text-center">发表时间</th>
          <th class="text-center">状态</th>
          <th class="text-center" width="100">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><input type="checkbox"></td>
          <td>随便一个名称</td>
          <td>小小</td>
          <td>潮科技</td>
          <td class="text-center">2016/10/07</td>
          <td class="text-center">已发布</td>
          <td class="text-center">
            <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
            <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
          </td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox"></td>
          <td>随便一个名称</td>
          <td>小小</td>
          <td>潮科技</td>
          <td class="text-center">2016/10/07</td>
          <td class="text-center">已发布</td>
          <td class="text-center">
            <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
            <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
          </td>
        </tr>
        <tr>
          <td class="text-center"><input type="checkbox"></td>
          <td>随便一个名称</td>
          <td>小小</td>
          <td>潮科技</td>
          <td class="text-center">2016/10/07</td>
          <td class="text-center">已发布</td>
          <td class="text-center">
            <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
            <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{{/block}}
{{block 'js'}}
<script src="/assets/vendors/twbs-pagination/jquery.twbsPagination.js"></script>
<script>
  $.ajax({
    url : '/api/post/getPageTotal',
    type: 'get',
    cache :false,
    dataType:'json',
    success: function(result) {
     console.log(result)
     $('.pagination').twbsPagination({
      totalPages: result.data,
      visiblePages: 5,
      first: '首页',
      prev: '上一页',
      next: '下一页',
      last: '尾页',
      //点击页号触发的事件
      onPageClick: function (event, page) {
          console.info(page + ' (from options)');
          //发送Ajax请求(/api/post/page), 同时要将页号(page)一起发送给接口
          $.ajax({
            url: '/api/post/page',
            type: 'post',
            data: {pageno: page},
            dataType: 'json',
            success: function (result) {
              console.log(result);
              var str = template('articleList', result);
              $('tbody').html(str);
            }
          })
      }
    })
    }
  })

 </script>
{{/block}}